<div class='mx-auto px-6 sm:px-6 max-w-3xl pt-8 md:pt-4 pb-12 md:pb-20'>
	<script
		src='https://giscus.app/client.js'
		data-repo='fsyud/note-blog'
		data-repo-id='R_kgDOLaBTBw'
		data-category='Ideas'
		data-category-id='DIC_kwDOLaBTB84CdomT'
		data-mapping='pathname'
		data-strict='0'
		data-reactions-enabled='1'
		data-emit-metadata='0'
		data-input-position='top'
		data-theme='light'
		data-lang='zh-CN'
		data-loading='lazy'
		crossorigin='anonymous'
		async></script>
</div>
